* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

body {
    background: rgba(224, 228, 160, 0.1);
}

.neir {
    width: 90%;
    margin: 0 auto;
}

.weizhi {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    color: black;
}


/* .content {
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
} */

.content-left {
    flex-basis: 14%;
    margin-top: 30px;
    padding: 20px;
}


/* .content-left a {
    text-decoration: none;
} */

.content-right {
    flex: 1;
    margin-left: 20px;
    padding: 20px 20px;
    border-left: 1px solid #aaa;
}

.content-left ul li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.content-left ul li a {
    font-size: 1.2em;
    color: rgb(117, 113, 113);
    text-align: center;
    display: block;
    width: 100%;
}

.weizhi {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    color: black;
}

.title {
    text-align: center;
    margin-top: 50px;
    color: black;
}

.content-right .duanluo {
    margin-bottom: 40px;
}

.content-right .duanluo p {
    font-size: 14px;
    color: rgb(107, 103, 103);
    text-indent: 2em;
    margin: 10px;
    padding: 0 30px;
}

.content-right h4 {
    margin: 10px 20px;
}

.content-right .wen .tu {
    margin-bottom: 30px;
}

.content-right .wen .tu img {
    width: 100%;
}

.qhd-content {
    width: 86%;
    margin: 0 auto;
}

.jiameng a {
    width: 180px;
    height: 56px;
    display: block;
    margin: 50px auto;
    background-color: #d92229;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 56px;
}

.jiameng a:hover {
    text-decoration: none;
}

.fanhuidb {
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgb(7, 100, 57);
    opacity: 0.5;
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 250px;
    right: 180px;
    display: none;
}

.fanhuidb a {
    color: black;
    display: block;
}

.fanhuidb:hover {
    opacity: 0.8;
}

.active {
    color: red!important;
    font-weight: bold;
    text-decoration: none;
}

@media screen and (max-width:768px) {
    .content-left {
        display: none;
    }
    .title {
        margin-top: 0;
    }
    .content-right {
        border-left: none;
    }
}